.bt{
    height: 100px;
    width: 200px;
    background-color:blueviolet;
    position: relative;
}
.bt::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height:5px;
    width: 100%;
    background-color: red;
}