.aboutus-box{
    margin: 20px 0;
    height: 300px;
    width: 100%;
    transition: 1000ms linear;
    position: relative;
    &:hover{
        .aboutus-card{
            top: -10px;
        }
    }
}

.aboutus-card{
    height: 100%;
    width: 100%;
    position: absolute;
    border: 5px solid #039B7B;
    transition: 100ms linear;
    top: 0;
    padding: 20px;
    text-align: center;
}

.aboutus-tittle{
    font-weight: bold;
    font-size: 30px;

}

.aboutus-slogan{
    margin: 20px 0;
    text-align: center;
    color: #91250B;
    font-weight: bolder;
    text-shadow: 2px 2px lightgray;
}